*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(251, 236, 222);
    font-family: arial;
    font-size: 20px;
    padding: 50px;
}
h1{
    font-size: 35px;
    margin-bottom: 25px;
}
h2{
    margin-bottom: 20px;
    text-align: center;
}

p{
margin-bottom: 20px;
}
.first{
    color: rgb(255, 72, 0);
}

#your-name{
    background-color: rgb(251, 166, 141);
    border:3px solid #444;
    width: 400px;
    padding:25px;
    margin-top:30px;
}
input,button{
padding: 10px;
font-size: 16px;
}

a{
    background-color: lightsalmon;
}
#your-name h2{
    color: maroon;
}
#course-image{
    width:400px;
    height: 300px;
}
